* {
padding: 0px; 
margin:0px;
}

html {
min-height: 100%;
position: relative;
}
body {
margin: 0;
margin-bottom: 40px;
}
footer {
position: absolute;
bottom: 0;
width: 100%;
height: 40px;
color: white;
}
.pie th {
text-align: center;
border:transparent;
padding: 15px;
}

h1 {
font-size: 3vw;
font-family:'ubuntu';
padding-left: 20px;
padding-top: 15px;
padding-bottom: 15px;
}

h2 {
font-size: 40px;
}

p {
font-size: 25px;
font-family: 'arial';
}

input, select, textarea {
font-size: 105%;
}

.logo{
float:left;
}

.telefono{
float:right;
font-color:white;
line-height: 45px;
margin-right: 20px;
}

#tituloapartado {
padding-top: 30px;
padding-bottom: 30px;
}

.blanco {
color:white;
font-size: 2vw;
}

.lista {
}

#cont{ 
width: 100%; 
margin: 0 auto 0 auto; 
text-align: left; 
}

#encabezado {
height: 45px;
width: 100%;
overflow: hidden;
background-color: black;
position: fixed;
}

#encabezado2 {
height: 100px;
width: 70%;
overflow: hidden;
float:left;
background-color: white;
margin-top: 45px; 
}

#fondo1 {
height: 500px;
width: 100%;
z-index: 1;
float:left;
background-image: url(../img/fondo1.jpg);
}

#formulario {
height: 500px;
width: 30%;
float: right;
overflow: hidden;
z-index: 2;
background-color: rgba(255, 255, 255, 0.5);
}

#formulario1 {
width: 75%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}

#encabezado3 {
height: 100px;
width: 30%;
overflow: hidden;
float:right;
background-color: #4856A2;
text-align: center;
margin-top: 45px;
}

#barramenu {
height: 50px;
width: 100%;
overflow: hidden;
background-color:black;
position:-webkit-sticky; 
position:sticky; 
top: 45px;
text-align: center;
}

ul {
list-style:none;
}

/* Ocultar botón radio */
input[id^="spoiler"]{
display: none;
}
/* Estilo botón clicable */
input[id^="spoiler"] + label {
display: block;
width: 85%;
margin: 0 auto;
padding: 5px 20px;
background: #4856A2;
cursor: pointer;
color: white;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;
}
/* Estilo botón cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label {
color: #333;
background: #ccc;
}
/* Estilo caja SPOILER */
input[id^="spoiler"] ~ .spoiler {
width: 85%;
height: 0;
overflow: hidden;
opacity: 0;
margin: 10px auto 0;
}
/* Estilo caja SPOILER cuando su INPUT está seleccionado */
input[id^="spoiler"]:checked + label + .spoiler{
height: auto;
opacity: 1;
}			
.spoiler p {
text-align: left;
font-size: 20px;
margin-top: 10px;
margin-bottom: 25px;
}
.spoiler h4 {
text-align: left;
font-size: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.nav{
text-align: center;
position: relative;
display: inline-block;
}

.nav > li {
float:left;
width: 250px;
}
			
.nav li a {
color:#fff;
text-decoration:none;
padding:15px 35px;
display:block;
}
			
.nav li a:hover {
background-color:#4856A2;
}

.nav2{
text-align: center;
display: inline-block;
}

.nav2 > li {
float:left;
width: 280px;
}
			
.nav2 li p {
padding:15px 35px;
display:block;
text-align: left;
font-size: 22px;
}

.nav2 li div {
margin-top: 40px;
}

.nav3{
display: inline-block;
}

.nav3 li {
padding:15px 15px;
text-align: left;
font-size: 22px;
}

.nav4{
text-align: center;
display: inline-block;
}

.nav4 > li {
float:left;
width: 400px;
}
			
.nav4 li p {
padding-top: 10px;
text-align: center;
font-size: 22px;
}

.nav4 li div {
margin-top: 40px;
}

.boton {
margin-top: 50px;
}
#contenido { 
width: 100%; 
text-align: center;
}

#contenedor {
width: 60%;
height: auto;
margin: auto;
}

.textoizquierda {
float: left;
width: 50%;
margin-top: 30px;
height: auto;
}

#textoizquierda2 {
float: left;
width: 30%;
margin-top: 30px;
margin-left: 30px;
height: auto;
text-align: left;
}

.imagenderecha {
float: right;
width: 50%;
margin-top: 30px;
height: auto;
}

#imagenderecha2{
float: right;
width: 60%;
margin-top: 30px;
height: auto;
}

.textoderecha {
float: right;
width: 50%;
margin-top: 30px;
}

.imagenizquierda {
float: left;
width: 50%;
margin-top: 30px;
}

#apartado1 {
height:auto;
background-color: white;
margin-top: 50px;
padding-bottom: 50px;
}

#apartado2 {
height:auto;
background-color: #D2D2D2;
padding-bottom: 50px;
}

#apartado3 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado4 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado5 {
height:auto;
background-color: #D2D2D2;
padding-bottom: 50px;
}

#apartado6 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado7 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado8 {
height:auto;
background-color: #D2D2D2 ;
padding-bottom: 50px;
}

#apartado9 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado10 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#apartado11 {
height:auto;
background-color: white;
padding-bottom: 50px;
}

#borde {
border: solid;
}

.ajustar{
clear:both;
} 